<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>726119636173-n39emjeo7t7ig1h7do20qjq9ankmhd54.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.726119636173-n39emjeo7t7ig1h7do20qjq9ankmhd54</string>
	<key>API_KEY</key>
	<string>AIzaSyB9gTL_LbtQzWf0jtn_NIEMf7mCQZcx2po</string>
	<key>GCM_SENDER_ID</key>
	<string>726119636173</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.info.BitirmeProjesi</string>
	<key>PROJECT_ID</key>
	<string>bitirme-projesi-fa185</string>
	<key>STORAGE_BUCKET</key>
	<string>bitirme-projesi-fa185.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:726119636173:ios:227fd17670735fdaa0dd84</string>
</dict>
</plist>